/* ---- reset ---- */
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}


/* ---- typography ---- */

body {
  color: #111;
  font-family: 'Press Start 2P', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 250%;
}

h1 {
  text-transform: uppercase;
  display: flex;  
  font-size: 2em;
  color: #006080;
  letter-spacing: 2px;
}

h2 {
  text-transform: uppercase;
}

.game-screen h2 {
  color: white;
}

.game-over-screen h1, h2, h3 {
  margin: 10px;
}

.game-over-screen h3 {
  color:#0C6685
}

.game-over-screen h2 {
  color: #00BFFF
}




/* ---- layout ---- */

.splash-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: url("./images/backgrounds/park-blurry1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.game-screen {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: url("./images/backgrounds/park-blurry1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.game-over-screen {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: url("./images/backgrounds/park-blurry1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /*text-align: center;*/
} 

.game-over-screen button {
  align-self: center;
  margin: auto 0;
  animation: blinker 1.5s linear infinite;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 450px;
  width: 800px;
  padding: 20px;
  background-color: rgba(255,255,255,0.5);
}

.shia-with-puppy {
  display: flex;
  align-self: flex-end;
  width: 264px;
  height: 375px; 
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) infinite;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

#score-life {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  color: white;
  padding: 10px;
}

.blink_me:hover {
  animation: blinker 1.5s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0.1;
  }
}

canvas {
  border: 20px solid rgba(255,255,255,0.2);
  margin: 0 auto;
  display: flex;
  flex-grow: 2;
  order: 1;
}

button {
  display: flex;
  justify-content: center;
  padding: 10px;
  font-size: 12px;
  width: 200px;
  text-transform: uppercase;
  height: 70px;
  background-color: #0F7FB8;
  color: #fff;
  border: 3px solid #fff;
  font-family: 'Press Start 2P', Helvetica, Arial, sans-serif;
  margin: 20px 20px 20px 100px;
}
